# Python
__pycache__/
*.pyc
dist/
build/
*.egg-info/
.venv/
venv/

# Android
android-service/.gradle/
android-service/build/
android-service/app/build/
android-service/local.properties
*.apk
*.aab

# IDE
.idea/
*.iml
.vscode/

# Env
.env
*.exe
